# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
# Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
# A) Rank B) Name C) Artist D) Upload date E) Views

In [4]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time


# webdriver creation and opening the url 
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)
time.sleep(2)

search=driver.find_element_by_id("searchInput")
search.send_keys("list of most viewed YouTube videos")
driver.find_element_by_id("searchButton").click()

In [164]:
table_tag=driver.find_element_by_xpath("//*[@id='mw-content-text']/div[1]/table[1]/tbody")

rank=[]
name=[]
artist=[]
views=[]
upload=[]

rank_tag=table_tag.find_elements_by_xpath("./tr/td[1]")
for row in rank_tag:
    rank.append(row.text)

names=[]
name_tag=table_tag.find_elements_by_xpath("./tr/td[2]")
for row in name_tag:
    names.append(row.text)
for i in names:
    name.append(i[1:-5])

artist_tag=table_tag.find_elements_by_xpath("./tr/td[3]")
for row in artist_tag:
    artist.append(row.text)

views_tag=table_tag.find_elements_by_xpath("./tr/td[4]")
for row in views_tag:
    views.append(row.text)

upload_tag=table_tag.find_elements_by_xpath("./tr/td[5]")
for row in upload_tag:
    upload.append(row.text)

In [165]:

len(name)

30

In [166]:
import pandas as pd

Most_Youtube_Videos=pd.DataFrame({})

Most_Youtube_Videos["Rank"]=rank
Most_Youtube_Videos["Name"]=name
Most_Youtube_Videos["artist"]=artist
Most_Youtube_Videos["Views"]=views
Most_Youtube_Videos["upload"]=upload
Most_Youtube_Videos

,Rank,Name,artist,Views,upload
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016"
1,2.,Despacito,Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017"
2,3.,Shape of You,Ed Sheeran,5.18,"January 30, 2017"
3,4.,See You Again,Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015"
4,5.,Johny Johny Yes Papa,LooLoo Kids,4.73,"October 8, 2016"
5,6.,Masha and the Bear – Recipe for Disaster,Get Movies,4.41,"January 31, 2012"
6,7.,Uptown Funk,Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014"
7,8.,Gangnam Style,Psy,3.96,"July 15, 2012"
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,3.69,"February 27, 2018"
9,10.,Bath Song,Cocomelon – Nursery Rhymes,3.61,"May 2, 2018"
10,11.,Phonics Song with Two Words,ChuChu TV,3.50,"March 6, 2014"
11,12.,Sorry,Justin Bieber,3.40,"October 22, 2015"
12,13.,Sugar,Maroon 5,3.39,"January 14, 2015"
13,14.,Roar,Katy Perry,3.27,"September 5, 2013"
14,15.,Counting Stars,OneRepublic,3.19,"May 31, 2013"
15,16.,Thinking Out Loud,Ed Sheeran,3.18,"October 7, 2014"
16,17.,Dame Tu Cosita,El Chombo featuring Cutty Ranks,3.10,"April 5, 2018"
17,18.,Shake It Off,Taylor Swift,3.02,"August 18, 2014"
18,19.,Faded,Alan Walker,2.98,"December 3, 2015"
19,20.,Lean On,Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,Bailando,Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,Dark Horse,Katy Perry featuring Juicy J,2.96,"February 20, 2014"
22,23.,Girls Like You,Maroon 5 featuring Cardi B,2.95,"May 31, 2018"
23,24.,Let Her Go,Passenger,2.90,"July 25, 2012"
24,25.,Mi Gente,J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,Hello,Adele,2.78,"October 22, 2015"
26,27.,Waka Waka (This Time for Africa),Shakira featuring Freshlyground,2.73,"June 4, 2010"
27,28.,Perfect,Ed Sheeran,2.73,"November 9, 2017"
28,29.,Blank Space,Taylor Swift,2.71,"November 10, 2014"
29,30.,Chantaje,Shakira featuring Maluma,2.62,"November 18, 2016"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
# You need to find following details:
# A) Match title (I.e. 1st ODI)
# B) Series
# C) Place
# D) Date
# E) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [36]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time


# webdriver creation and opening the url 
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")
url= "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

In [63]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import wait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver import ActionChains

international_tag=driver.find_element_by_xpath("//li[@class='navigation__item'][@data-nav-index='0']")
fixtures_tag=international_tag.find_element_by_xpath("./div[2]/div/ul/li[1]/a")

actions = ActionChains(driver)
actions.move_to_element(international_tag).move_to_element(fixtures_tag).click().perform()

In [178]:
matches_tag=driver.find_elements_by_xpath("//div[@class='js-list']/a")

In [181]:
matches_tag[2].text

'Thursday\n04\nMARCH\n09:30 IST\nTEST\nINDIA V ENGLAND 2021\n4th Test\nSardar Patel Stadium, Ahmedabad\nINDIA\nv\nENGLAND\nMATCH CENTRE'

In [182]:
match_day=[]
for row in matches_tag:
    match_day.append(row.find_element_by_xpath("./div").text)

In [183]:
weekday=[]
day=[]
month=[]
time=[]
for date in match_day:
    weekday.append(date.split("\n")[0])
    day.append(date.split("\n")[1])
    month.append(date.split("\n")[2])
    time.append(date.split("\n")[3])

In [184]:
format_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]")

In [194]:
match_format=[]
series=[]
match_details=[]
stadium=[]
details=[]
for row in format_tag:
    details.append(row.text)
for row in details:
    match_format.append(row.split("\n")[0])
    series.append(row.split("\n")[1])
    match_details.append(row.split("\n")[2])
    stadium.append(row.split("\n")[3])
    
vs_teams=[]
teams_tag=driver.find_elements_by_xpath("//html/body/div[4]/div/div/div[2]/section/div/div/a/div[3]")
for row in teams_tag:
    vs_teams.append(row.text)

teams=[]
for i in range(0,len(vs_teams)):
    teams.append(vs_teams[i].replace("\n"," "))

In [205]:
date_time = [i +" "+ j+" "+ k for i, j, k in zip(weekday,day, month)]

In [206]:
import pandas as pd
BCCI=pd.DataFrame({})
BCCI["Match Title"]=match_details
BCCI["Series"]=series

BCCI["Weekday"]=weekday
#BCCI["Date"]=day
BCCI["Date Time"]=date_time
BCCI["Time"]=time
BCCI["Stadium"]=stadium
BCCI

,Match Title,Series,Weekday,Date Time,Time,Stadium
0,2nd Test,INDIA V ENGLAND 2021,Saturday,Saturday 13 FEBRUARY,09:30 IST,"M. A. Chidambaram Stadium, Chennai"
1,3rd Test,INDIA V ENGLAND 2021,Wednesday,Wednesday 24 FEBRUARY,14:30 IST,"Sardar Patel Stadium, Ahmedabad"
2,4th Test,INDIA V ENGLAND 2021,Thursday,Thursday 04 MARCH,09:30 IST,"Sardar Patel Stadium, Ahmedabad"
3,1st T20I,INDIA V ENGLAND 2021,Friday,Friday 12 MARCH,19:00 IST,"Sardar Patel Stadium, Ahmedabad"
4,2nd T20I,INDIA V ENGLAND 2021,Sunday,Sunday 14 MARCH,19:00 IST,"Sardar Patel Stadium, Ahmedabad"
5,3rd T20I,INDIA V ENGLAND 2021,Tuesday,Tuesday 16 MARCH,19:00 IST,"Sardar Patel Stadium, Ahmedabad"
6,4th T20I,INDIA V ENGLAND 2021,Thursday,Thursday 18 MARCH,19:00 IST,"Sardar Patel Stadium, Ahmedabad"
7,5th T20I,INDIA V ENGLAND 2021,Saturday,Saturday 20 MARCH,19:00 IST,"Sardar Patel Stadium, Ahmedabad"
8,1st ODI,INDIA V ENGLAND 2021,Tuesday,Tuesday 23 MARCH,13:30 IST,"Maharashtra Cricket Association Stadium, Pune"
9,2nd ODI,INDIA V ENGLAND 2021,Friday,Friday 26 MARCH,13:30 IST,"Maharashtra Cricket Association Stadium, Pune"
10,3rd ODI,INDIA V ENGLAND 2021,Sunday,Sunday 28 MARCH,13:30 IST,"Maharashtra Cricket Association Stadium, Pune"
11,1st Test,ENGLAND V INDIA 2021,Wednesday,Wednesday 04 AUGUST,15:30 IST,"Trent Bridge, Nottingham"
12,2nd Test,ENGLAND V INDIA 2021,Thursday,Thursday 12 AUGUST,15:30 IST,"Lord's, London"
13,3rd Test,ENGLAND V INDIA 2021,Wednesday,Wednesday 25 AUGUST,15:30 IST,"Headingley, Leeds"
14,4th Test,ENGLAND V INDIA 2021,Thursday,Thursday 02 SEPTEMBER,15:30 IST,"The Oval, London"
15,5th Test,ENGLAND V INDIA 2021,Friday,Friday 10 SEPTEMBER,15:30 IST,"Old Trafford, Manchester"

# Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time


# webdriver creation and opening the url 
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")
url= "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [18]:
from selenium.webdriver.support.ui import Select

In [2]:
from selenium.webdriver import ActionChains
testing_tag=driver.find_element_by_xpath("//ul[@class='g-toplevel']/li[2]")
selenium_tag=testing_tag.find_element_by_xpath('//*[@id="menu-3688-particle"]/nav/ul/li[2]/ul/li/div/div[3]/ul/li[5]/a/span/span')

actions=ActionChains(driver)
actions.move_to_element(testing_tag).move_to_element(selenium_tag).click().perform()

In [3]:
# driver.find_element_by_class_name("CloseButton__ButtonElement-sc-79mh24-0 gVNUOF aurora-CloseButton aurora-close aurora-ClosePosition--top-right")

escape_tag=driver.find_element_by_id("om-dgojyzueujjf7huvd8jh-yesno")
escape_tag.find_element_by_xpath("//button[@title='Close']").click()

In [4]:
#tutorial_tag=driver.find_element_by_xpath("//*[contains(text(),'Exception Handling')]")
tutorial_tag=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()
time.sleep(2)

In [11]:
table_tag=driver.find_element_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody")

In [34]:
exceptions=[]
description=[]

exception_name_tag=table_tag.find_elements_by_xpath("./tr/td[1]")
for row in exception_name_tag[1:]:
    exceptions.append(row.text)

description_tag=table_tag.find_elements_by_xpath("./tr/td[2]")
for row in description_tag[1:]:
    description.append(row.text)

In [35]:
import pandas as pd
Selenium_exceptions=pd.DataFrame({})

Selenium_exceptions["Exception name"]=exceptions
Selenium_exceptions["Description"]=description
Selenium_exceptions

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q4 - Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
# You have to find following details:
# A) Rank
# B) State
# C) GSDP(18-19)
# D) GSDP(17-18)
# E) Share(2017)
# F) GDP($ billion)
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [214]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time


# webdriver creation and opening the url 
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")
url= "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

In [215]:
from selenium.webdriver import ActionChains
economy_tag=driver.find_element_by_xpath("//div[@class='navbar']/div[2]")
country_tag=economy_tag.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')

actions=ActionChains(driver)
actions.move_to_element(economy_tag).move_to_element(country_tag).click().perform()

In [217]:
indian_states_tag=driver.find_element_by_xpath("//*[contains(text(),'GDP of Indian states')]").click()
#/html/body/div[2]/div[2]/div[2]/ul/li[1]/a

In [222]:
states_table=driver.find_element_by_id("table_id").find_element_by_xpath("./tbody")

In [230]:
rank=[]
states=[]
gdsp_19=[]
gsdp_18=[]
share=[]
gdp=[]

rank_tag=states_table.find_elements_by_xpath("./tr/td[1]")
for row in rank_tag:
    rank.append(row.text)

states_tag=states_table.find_elements_by_xpath("./tr/td[2]")
for row in states_tag:
    states.append(row.text)
    
gdsp_19_tag=states_table.find_elements_by_xpath("./tr/td[3]")
for row in gdsp_19_tag:
    gdsp_19.append(row.text)
    
gdsp_18_tag=states_table.find_elements_by_xpath("./tr/td[4]")
for row in gdsp_18_tag:
    gsdp_18.append(row.text)
    
share_tag=states_table.find_elements_by_xpath("./tr/td[5]")
for row in share_tag:
    share.append(row.text)

gdp_tag=states_table.find_elements_by_xpath("./tr/td[6]")
for row in gdp_tag:
    gdp.append(row.text)

In [237]:
import pandas as pd
GSDP=pd.DataFrame({})

GSDP["Rank"]=rank
GSDP["State"]=states
GSDP["GSDP for Year 19/20"]=gdsp_19
GSDP["GSDP for Year 18/19"]=gsdp_18
GSDP["Share"]=share
GSDP["GDP"]=gdp

GSDP

,Rank,State,GSDP for Year 19/20,GSDP for Year 18/19,Share,GDP
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
2,3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
4,5,Gujarat,-,"1,502,899",7.92%,227.276
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"531,374","492,229",2.59%,74.437
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,-,"73,170",0.39%,11.065
23,24,Tripura,"55,358","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"40,802","36,656",0.19%,5.543
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,-,"27,869",0.15%,4.214
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,-,"19,520",0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used

In [725]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
from selenium.webdriver import ActionChains

# webdriver creation and opening the url 
path=r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe"
driver = webdriver.Chrome(path)
url= "https://github.com"
driver.get(url)
time.sleep(2)

In [727]:
explore_tag=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
trending_tag=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]")

actions=ActionChains(driver)

explore_click=actions.move_to_element(explore_tag).click().perform
time.sleep(3)
trending_click=actions.move_to_element(trending_tag).click().perform()

In [888]:
title_tag=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
title=[]
for row in title_tag:
    title.append(row.text)


description=[]
language=[]
boxrow=driver.find_elements_by_class_name("Box-row")
for item in boxrow:
    try:
        description_tag=item.find_element_by_xpath("./p[@class='col-9 text-gray my-1 pr-4']")
        description.append(description_tag.text)
    except NoSuchElementException as e:
        description.append("No description available for this repository")
        
    try:
        language_tag=item.find_element_by_xpath("./span[@class='d-inline-block ml-0 mr-3']")
        language.append(language_tag.text)
    except NoSuchElementException as e:
        language.append("No Language")

contribution=[]
contribution_tag=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]")
for row in contribution_tag:
    contribution.append(row.text)

In [890]:
github=pd.DataFrame({})
github["Repository Title"]=title
github["Repository Description"]=description
github["Language"]=language
github["Contribution"]=contribution
github

,Repository Title,Repository Description,Language,Contribution
0,conwnet / github1s,One second to read GitHub code with VS Code.,No Language,175
1,Azure / azure-quickstart-templates,Azure Quickstart Templates,No Language,"12,217"
2,iam-abbas / Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,No Language,143
3,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,No Language,"2,637"
4,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,No Language,818
5,JonnyBurger / remotion,🎥 Create videos programmatically in React,No Language,112
6,hashicorp / vault,"A tool for secrets management, encryption as a...",No Language,"2,788"
7,aws / amazon-sagemaker-examples,Example notebooks that show how to apply machi...,No Language,"3,740"
8,felixge / go-profiler-notes,My notes on the various go profiling methods t...,No Language,14
9,JonnyBurger / remotion-trailer,A video written in React,No Language,37
10,mozilla-mobile / firefox-ios,Firefox for iOS,No Language,"2,336"
11,Azure / azure-powershell,Microsoft Azure PowerShell,No Language,"2,419"
12,sveltejs / svelte,Cybernetically enhanced web apps,No Language,"2,046"
13,excalidraw / excalidraw,Virtual whiteboard for sketching hand-drawn li...,No Language,"1,136"
14,engindemirog / KampFinalProject,Yazılım Geliştirici Yetiştirme Kampı Büyük Proje,No Language,22
15,streamich / react-use,React Hooks — 👍,No Language,"1,365"
16,hashicorp / terraform-provider-aws,Terraform AWS provider,No Language,"4,836"
17,jomjol / AI-on-the-edge-device,No description available for this repository,No Language,47
18,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (February 2021),No Language,"5,818"
19,Seagate / cortx,CORTX Community Object Storage is 100% open so...,No Language,190
20,reed-hong / awesome-libra,A Curated List of Awesome Facebook Libra Resou...,No Language,157
21,inancgumus / learngo,"1000+ Hand-Crafted Go Examples, Exercises, and...",No Language,986
22,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,No Language,"6,438"
23,EvotecIT / GPOZaurr,Group Policy Eater is a PowerShell module that...,No Language,30
24,flybywiresim / a32nx,The A32NX Project is a community driven open s...,No Language,462

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https://www.billiboard.com/
# You have to find the following details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [274]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time


# webdriver creation and opening the url 
path=r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe"
driver = webdriver.Chrome(path)
url= "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [275]:
#top100=driver.find_element_by_xpath("//*[contains(text(),'Hot 100')]/preceding-sibling::li")

top100=driver.find_element_by_link_text("HOT 100").click()

In [279]:
list_tag=driver.find_element_by_xpath("//ol[@class='chart-list__elements']")

In [345]:
position_tag=list_tag.find_elements_by_xpath("//span[@class='chart-element__rank__number']")
song_tag=list_tag.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
artist_tag=list_tag.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
lastwk_tag=list_tag.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
peakwk_tag=list_tag.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
durationwk_tag=list_tag.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

In [346]:
position=[]
for row in position_tag:
    position.append(row.text)

song_name=[]
for row in song_tag:
    song_name.append(row.text)

artist_name=[]
for row in artist_tag[0:100]:
    artist_name.append(row.text)
    
lastwk=[]
for row in lastwk_tag:
    lastwk.append(row.text)

peakwk=[]
for row in peakwk_tag:
    peakwk.append(row.text)
    
durationwk=[]
for row in durationwk_tag:
    durationwk.append(row.text)

In [347]:
len(artist_name),len(song_name),len(position),len(lastwk),len(peakwk),len(durationwk)

(100, 100, 100, 100, 100, 100)

In [349]:
import pandas as pd
BillBoard=pd.DataFrame({})
BillBoard["This Week"]=position
BillBoard["Song Name"]=song_name
BillBoard["Artist Name"]=artist_name
BillBoard["Last Week"]=lastwk
BillBoard["Peak Week"]=peakwk
BillBoard["Weeks on Charts"]=durationwk
BillBoard

,This Week,Song Name,Artist Name,Last Week,Peak Week,Weeks on Charts
0,1,Drivers License,Olivia Rodrigo,1,1,4
1,2,Mood,24kGoldn Featuring iann dior,2,1,26
2,3,Blinding Lights,The Weeknd,3,1,61
3,4,34+35,Ariana Grande,4,2,14
4,5,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...,...
95,96,Fake Woke,Tom MacDonald,-,96,1
96,97,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,98,Dangerous,Morgan Wallen,-,62,3
98,99,Almost Maybes,Jordan Davis,-,95,2
99,100,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

# 8. Scrape the details of Highest selling novels.
# Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
# You have to find the following details:
# A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [352]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd


# webdriver creation and opening the url 
driver = webdriver.Chrome(r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe")
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [374]:
table_tag=driver.find_element_by_xpath("//table[@class='in-article sortable']/tbody")

In [381]:
rank=[]
rank_tag=table_tag.find_elements_by_xpath("./tr/td[1]")
for row in rank_tag:
    rank.append(row.text)

title=[]
title_tag=table_tag.find_elements_by_xpath("./tr/td[2]")
for row in title_tag:
    title.append(row.text)
    
author=[]
author_tag=table_tag.find_elements_by_xpath("./tr/td[3]")
for row in author_tag:
    author.append(row.text)

publisher=[]
publisher_tag=table_tag.find_elements_by_xpath("./tr/td[4]")
for row in publisher_tag:
    publisher.append(row.text)

genre=[]
genre_tag=table_tag.find_elements_by_xpath("./tr/td[5]")
for row in genre_tag:
    genre.append(row.text)

In [382]:
Books=pd.DataFrame({})
Books["Rank"]=rank
Books["Title"]=title
Books["Author"]=author
Books["Publisher"]=publisher
Books["Genre"]=genre
Books

,Rank,Title,Author,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

# Q9: 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
# You have to find the following details:
# A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [383]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd


# webdriver creation and opening the url 
path=r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe"
driver = webdriver.Chrome(path)
url= " https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [384]:
list_tag=driver.find_element_by_class_name("lister-list")

In [410]:
position=list_tag.find_elements_by_class_name("lister-item-header")
rank=[]
show=[]
span=[]
for row in position:
    rank.append(row.text.split(" ")[0])
    show.append(row.text.split(".")[1].split("(")[0])
    span.append(row.text.split("(")[1].replace(")",""))

In [455]:
runtime=[]
runtime_tag=list_tag.find_elements_by_xpath("//span[@class='runtime']")
for row in runtime_tag:
    runtime.append(row.text)

genre=[]
genre_tag=list_tag.find_elements_by_xpath("//span[@class='genre']")
for row in genre_tag:
    genre.append(row.text)

ratings=[]
ratings_tag=list_tag.find_elements_by_xpath("//div[@class='ipl-rating-widget']")
for row in ratings_tag:
    ratings.append(row.text.split("\n")[0])
    
votes=[]
votes_tag=list_tag.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")

for row in votes_tag:
    votes.append(row.text)

In [457]:
imdb=pd.DataFrame({})
imdb["Rank"]=rank
imdb["Name of the show"]=show
imdb["Year Span"]=span
imdb["Run time"]=runtime
imdb["Ratings"]=ratings
imdb["Votes"]=votes
imdb

,Rank,Name of the show,Year Span,Run time,Ratings,Votes
0,1.,Game of Thrones,2011–2019,57 min,9.3,"1,768,209"
1,2.,Stranger Things,2016–,51 min,8.7,"820,820"
2,3.,The Walking Dead,2010–,44 min,8.2,"852,702"
3,4.,13 Reasons Why,2017–2020,60 min,7.6,"255,982"
4,5.,The 100,2014–2020,43 min,7.6,"216,183"
...,...,...,...,...,...,...
95,96.,Reign,2013–2017,42 min,7.5,"43,540"
96,97.,A Series of Unfortunate Events,2017–2019,50 min,7.8,"53,831"
97,98.,Criminal Minds,2005–2020,42 min,8.1,"160,982"
98,99.,Scream: The TV Series,2015–2019,45 min,7.2,"34,071"
99,100.,The Haunting of Hill House,2018,572 min,8.6,"182,033"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
# You have to find the following details:
# A) Dataset name B) Data type C) Task D) Attribute type  E) No of instances F) No of attribute G) Year

In [459]:
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd


# webdriver creation and opening the url 
path=r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe"
driver = webdriver.Chrome(path)
url= "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(2)

In [460]:
driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]").click()

In [461]:
table_tag=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]")

In [473]:
name=[]
name_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[1]")
for row in name_tag:
    name.append(row.text)

data_type=[]
data_type_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[2]")
for row in data_type_tag:
    data_type.append(row.text)

task=[]
task_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[3]")
for row in task_tag:
    task.append(row.text)

attribute=[]
attribute_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[4]")
for row in attribute_tag:
    attribute.append(row.text)

instances=[]
instances_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[5]")
for row in instances_tag:
    instances.append(row.text)

no_of_attributes=[]
no_of_attributes_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[6]")
for row in no_of_attributes_tag:
    no_of_attributes.append(row.text)

year=[]
year_tag=table_tag.find_elements_by_xpath("./tbody/tr/td[7]")
for row in year_tag:
    year.append(row.text)

In [475]:
uci=pd.DataFrame({})
uci["Name"]=name
uci["Data Type"]=data_type
uci["Default Task"]=task
uci["Attribute Type"]=attribute
uci["Instances"]=instances
uci["# of Attributes"]=no_of_attributes
uci["Year"]=year
uci[1:]

,Name,Data Type,Default Task,Attribute Type,Instances,# of Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
555,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
556,Guitar Chords finger positions,Text,Classification,,2633,5,2020
557,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
558,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
559,Intelligent Media Accelerometer and Gyroscop...,Time-Series,Classification,Real,800,9,2020

# Q7: Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
# You have to find the following details:
# A) Name B) Designation C) Company D) Skills they hire for E) Location
# Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [503]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
import time

path=r"C:\Users\Home\Downloads\Nayeem\FlipRobo internship\WebSCraper\chromedriver.exe"
driver=webdriver.Chrome(path)
url="https://www.naukri.com"

driver.get(url)
time.sleep(2)

In [505]:
from selenium.webdriver import ActionChains

recruiter=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
browse_recruiter=recruiter.find_element_by_xpath("//a[@title='Browse All Recruiters']")

actions=ActionChains(driver)

In [507]:
actions.move_to_element(recruiter).move_to_element(browse_recruiter).click().perform()

In [508]:
allwindows=driver.window_handles

In [509]:
driver.switch_to.window(allwindows[1])

In [510]:
search=driver.find_element_by_xpath("//*[@id='skill']/div[1]/div[2]/input")
search.send_keys("Data Science")
driver.find_element_by_id("qsbFormBtn").click()

In [518]:
details_tag=driver.find_element_by_xpath("//div[@class='outerRecSec']")

In [682]:
name=[]
name_tag=details_tag.find_elements_by_xpath("//span[@class='fl ellipsis']")
for row in name_tag:
    name.append(row.text)

designation=[]
designation_tag=details_tag.find_elements_by_xpath("//span[@class='ellipsis clr']")
for row in designation_tag:
    designation.append(row.text)

company=[]
company_tag=details_tag.find_elements_by_xpath("//a[@class='ellipsis'][2]")
for row in company_tag:
    company.append(row.text)

skill=[]
skill_tag=details_tag.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for row in skill_tag:
    skill.append(row.text)

location=[]
locations=[]
#location_tag=details_tag.find_elements_by_xpath("//small[@class='ellipsis']")
location_tag=details_tag.find_elements_by_xpath("//p[@class='highlightable']")
for row in location_tag:
    location.append(row.text.split("\n"))
for i in range(0,len(location_tag)):
    if len(location[i])<4:
        location[i].append("NO CITY LISTED")
for i in range(0,len(location)):
    locations.append(location[i][3])

the value of i is: 27
the value of i is: 44

In [685]:
Naukri=pd.DataFrame({})
Naukri["Recruiter Name"]=name
Naukri["Designation"]=designation
Naukri["Company Name"]=company
Naukri["Skills Hire"]=skill
Naukri["location"]=locations
Naukri

,Recruiter Name,Designation,Company Name,Skills Hire,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",No city
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
30,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
31,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
32,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
33,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
34,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
35,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
36,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
37,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
38,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
39,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
40,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
41,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
42,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
43,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
44,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",No city
45,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
47,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
48,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore
49,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai